<!DOCTYPE html PUBLIC "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8">
    <title>分析报告</title>
    <link rel="stylesheet" href="../static/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
    <style rel="stylesheet">
        selector::-webkit-scrollbar {
            width: 0;
        }
    </style>
</head>
<body>
<div id="uid" style="display: none">{{uid}}</div>
<div class="box">
    <div class="wechat">

        <div class="sidestrip">
            <div class="am-dropdown" data-am-dropdown>
                <!--头像插件-->
                <div class="own_head am-dropdown-toggle" id="avatar_1"></div>
                <div class="am-dropdown-content">
                    <div class="own_head_top">
                        <div class="own_head_top_text">
                            <p class="own_name"><span id="username">彭于晏丶plus</span>
                                <img id="gender" src="../static/images/icon/male.png" alt=""/>
                            </p>
                            <p class="own_numb">微信号：<span id="account">123456</span></p>
                        </div>
                        <img id="avatar_2" src="../static/images/own_head.jpg" alt=""/>
                    </div>
                    <div class="own_head_bottom">
                        <p><span style="color: #999;margin-right: 10px;">地区</span><span id="location">江西 九江</span></p>
                        <!--<div class="own_head_bottom_img">-->
                        <!--<a href=""><img src="../static/images/icon/head_1.png"/></a>-->
                        <!--<a href=""><img src="../static/images/icon/head_2.png"/></a>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <!--三图标-->
            <div class="sidestrip_icon">
                <!--性别分布-->
                <i id="item-gender" class="tab fa fa-venus-mars cur"
                   onclick="changeTab('item-gender','tab-content-gender',load_gender())"></i>
                <!--头像照片墙-->
                <i id="item-avatars" class="tab fa fa-users"
                   onclick="changeTab('item-avatars','tab-content-avatar',load_avatars())"></i>
                <!--签名词云-->
                <i id="item-wordcloud" class="tab fa fa-cloud"
                   onclick="changeTab('item-wordcloud','tab-content-wordcloud',load_wordcloud())"></i>
                <!--位置分布-->
                <i id="item-locations" class="tab fa fa-paper-plane"
                   onclick="changeTab('item-locations','tab-content-locations',load_locations())"></i>
            </div>

        </div>

        <!--性别分布-->
        <div class="middle on" id="tab-content-gender">
            <!--性别分布-->
            <div id="ec-gender" style="width: 800px;height: 680px"></div>
        </div>

        <!--头像照片墙-->
        <div class="middle" id="tab-content-avatar">
            <div class="fleft">
                <div class="fleftContent" id="avatar-wall"></div>
            </div>
        </div>

        <!--签名词云-->
        <div class="middle" id="tab-content-wordcloud">
            <div id="word-cloud" style="width: 800px;height: 680px;"></div>
        </div>

        <!--位置分布-->
        <div class="middle" id="tab-content-locations">
            <div id="ec-locations" style="width: 800px;height: 680px"></div>
        </div>

    </div>
</div>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/amazeui.min.js"></script>
<script type="text/javascript" src="../static/js/zUI.js"></script>
<script type="text/javascript" src="../static/echarts/js/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/wordcloud2.js"></script>
<script type="text/javascript" src="../static/js/wechat.js"></script>
<script type="text/javascript">
    //防止页面后退
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });


    //三图标
    window.onload = function () {
        //加载好友信息
        get_contacts()

        //加载性别分布图
        // load_gender();
        //加载地域分布图
        // load_locations();
        //加载头像
        // load_avatars();
        //加载词云
        // load_wordcloud();
    };

</script>


</body>
</html>
