<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>基于Amaze UI仿微信电脑版聊天样式 - A5源码 </title>
    <link rel="stylesheet" href="../static/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="box">
    <div class="wechat">

        <div class="sidestrip">
            <div class="am-dropdown" data-am-dropdown>
                <!--头像插件-->
                <div class="own_head am-dropdown-toggle" id="avatar_1"></div>
                <div class="am-dropdown-content">
                    <div class="own_head_top">
                        <div class="own_head_top_text">
                            <p class="own_name" id="username">彭于晏丶plus
                                <img id="gender" src="../static/images/icon/head.png" alt=""/>
                            </p>
                            <p class="own_numb">微信号：<span id="account">123456</span></p>
                        </div>
                        <img id="avatar_2" src="../static/images/own_head.jpg" alt=""/>
                    </div>
                    <div class="own_head_bottom">
                        <p><span>地区</span>江西 九江</p>
                        <!--<div class="own_head_bottom_img">-->
                        <!--<a href=""><img src="../static/images/icon/head_1.png"/></a>-->
                        <!--<a href=""><img src="../static/images/icon/head_2.png"/></a>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <!--三图标-->
            <div class="sidestrip_icon">
                <!--性别分布-->
                <i id="item-gender" class="fa fa-venus-mars cur"></i>
                <!--头像大图-->
                <i id="item-avatars" class="fa fa-users"></i>
                <!--签名词云-->
                <i id="item-wordcloud" class="fa fa-cloud"></i>
                <!--位置分布-->
                <i id="item-locations" class="fa fa-paper-plane"></i>
            </div>

        </div>

        <!--性别分布-->
        <div class="middle">
            <!--性别分布-->
            <div id="ec-gender" style="width: 100%;height: 100%"></div>
        </div>

        <!--头像大图-->
        <div class="middle">
            头像大图
        </div>

        <!--签名词云-->
        <div class="middle">
            签名词云
        </div>

        <!--位置分布-->
        <div class="middle on">
            <div id="ec-locations" style="width: 100%;height: 100%"></div>
        </div>

    </div>
</div>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/amazeui.min.js"></script>
<script type="text/javascript" src="../static/js/zUI.js"></script>
<script type="text/javascript" src="../static/js/wechat.js"></script>
<script type="text/javascript" src="../static/echarts/js/echarts.min.js"></script>
<script type="text/javascript">

    //三图标
    window.onload = function () {
        //加载性别分布图
        // load_gender();
        //加载地域分布图
        load_locations();
    };
</script>


</body>
</html>
